body
{
	display: flex;
	flex-direction: column;
	align-items:center;
}
#header{
	display: none;
}
header{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
}
main{
	width:960px;
}
footer {
	display:flex;
	justify-content:space-evenly;
	width:100%;
}
