html{
	background-image:url("../images/snowflakes.svg");
}
html, body {
	margin: 0;
	padding: 0;
}
body
{
	background-color:rgba(255,255,255,.9);
	display: flex;
	flex-direction: column;
	align-items:center;
}
#header{
	display: none;
}
header{
	display:flex;
	flex-direction:column;
	/*! align-items:center; */
	text-align:center;
	width:100%;
	/*! font-size:1.5em; */
	background-image:url('../images/banner.svg');
	color:rgb(0,100,0);
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}
main{
	/* Setting `width:960px;` causes horizontal scroll on mobile*/
	/* max-width gives same affect on desktop, without changing mobile */
	max-width:960px;
}
footer {
	display:flex;
	justify-content:space-evenly;
	width:100%;
	background-color:black;
	
}
footer a{
	text-decoration:none;
	color:rgb(200,200,200)
}
footer *{
	margin: 5px;
}

.example-domain {
	font-style:italic;
}
