html, body {
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	flex-direction: column;
	align-items:center;
}
#header{
	display: none;
}
header{
	display:flex;
	flex-direction:column;
	/*! align-items:center; */
	text-align:center;
	width:100%;
	/*! font-size:1.5em; */
}
main{
	/* Setting `width:960px;` causes horizontal scroll on mobile*/
	/* max-width gives same affect on desktop, without changing mobile */
	max-width:960px;
}
footer {
	display:flex;
	justify-content:space-evenly;
	width:100%;
}
footer *{
	margin: 5px;
}

.example-domain {
	font-style:italic;
}
